#sButton{
    background: rgb(16, 31, 4);
    color: orange;
    height: 100%;
    width: 9%;
    float: right;
    margin: 0;
    min-width: 50px;
  }
#field{
    background: rgb(214, 219, 214);
    border: none;
    height: 100%;
    padding-left: 10px;
    font-size: large;
    width: 90%;
    
}
#field:focus{
    background: white;
    border: none;
}
input{
    height: 80%;
    vertical-align: middle;
    float: left;
    min-height: 50px;
    
}
form{
    text-align: center;
    border: 1px solid black;
    height: 80%;
    overflow: hidden;
    min-height: 50px;
    display: flex;
}
.logo{
    /* background-image: url(./Pro-Chat-logo.png); */
    /* display: inline-block; */
    border: 1px solid black;
    background: rgb(16, 31, 4);
    height: 80%;
    min-height: 50px;
    min-width: 10%;
    /* min-width: 100px; */
    float: left;
    margin: 0px;
}

.logo-search{
    height:9%;
    border: 1px solid red;
    width: 65%;
}
