.single-chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: grey;
}

.send-menu{
    background: red;
    height: 15%;
    width: 100%;
    display: flex;
    margin-top: auto;
    justify-content: stretch;
    align-items: flex-start;
    /* align-items: flex-end; */
    /* to nie jest elementem flexboxa tylko grida chyba justify-self: flex-end; */
}

#message-input, #message-input:focus{
    /* display: flex;
    flex-wrap: wrap; */
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 1.5em;
    box-sizing: border-box;
}

#send-button{
    margin-left: auto;
    height: 100%;
    width: 200px;
    border-radius: 50%;
    background: var(--mainColor);
    color: orange;
}

#navbar{
    background: purple;
    padding: 4px;
}

#to{
    font-weight: bold;
    text-align: center;
    margin: 0;
}

#backBtn{
    position: absolute;
    left: 0;
}

.received{
    float: left;
}

.sent{
    float: right;
}