/* Całe okienko chatow, jednego czatu, wyszukiwania,  */
.chat-window{
    width: 65%;  
    height: 78%;
    margin: 2px;
    float: left;
    background: rgba(214, 219, 214,0.5);
}
/* pojedynczy chat */
.chat{
    padding: 10px;
    display: flex;
    border: 1px solid #331e0d;
    cursor: pointer;
}
/* WSZYSTKO WEWNATRZ CZATU JEST FLEX */
.min-user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.chat-username{
    margin-left: 5px;
    color: #331e0d;
    font-weight: bold;
}
#info{
    text-align:center;
    font-size: 24px;
    font-weight: bold;
}
.userDesc{
    /* align-self: center; */
    margin-left: 20px;
}