/* .searchBar{
  width: 50%;
  margin: auto;
  border: 1px solid black;
  height: 10px;
  padding: 100px;
} */
:root{
  --mainColor: rgb(16, 31, 4);
  --backgroundColor: #38f9d7;
}

.body{
  height: 100vh;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  background-repeat: repeat;
}

.btn{
  border: none;
  background: var(--mainColor);
  color: orange;
  cursor: pointer;
}

.field{
  background: rgb(214, 219, 214);
  border: none;
  font-size: large;
  outline: none;
}
.field:focus{
  background: white;
  border: none;
}
