#sButton{
    background: var(--mainColor);
    color: orange;
    height: 100%;
    width: 7%;
    margin: 0;
    min-width: 50px;
}

#sField{
    height: 100%;
    padding-left: 10px;
    width: 93%; 
    outline: none;
}

#searchResults{
    width: 65%;
    height: 210px;
    position: absolute;
    z-index: 2;
    background: yellow;
    left: 0px;
    top: 71px;
    overflow: auto;
}

.searchBox{
    text-align: center;
    border: 1px solid black;
    height: 80%;
    overflow: hidden;
    min-height: 50px;
    display: flex;
}
.logo{
    border: 1px solid black;
    background: rgb(16, 31, 4);
    height: 80%;
    min-height: 47px;
    min-width: 10%;
    float: left;
    margin: 0px;
}

.logo-search{
    height:9%;
    width: 65%;
    min-height: 49px;
}

.result{
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    padding: 6px;
    align-items: center;
    height: 60px;
    cursor: pointer;
}

.result-nick{
    display: block;
    padding: 2px;
    margin-left: 4px;
    font-weight: 600;
}

.result-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.result-desc{
    margin-left: auto;
}

