.user{
    width: 32%;
    height: 78%;
    float: right;
    margin: 2px;
    background: rgb(16, 31, 4);
    color: orange;
    /* flex */
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;  
}
.image{
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin: 5px auto;
}
#user-img{
    border-radius: 50%;
    width:100%;
    height:auto;
}
.user a,.user p{
    /* align-self: center; */
    margin-top: auto;
    color: orange;
    font-size:large;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;    
}

form{
    max-height: 300px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

/* input{
    margin: 1px 0px;
} */

#username{
    margin-top: 0px;
    font-size: 24px;
}
#signup{
    margin-top: 0px;
}
#signin{
    margin-bottom: 0;
}